**/__pycache__
**/__pypackages__
**/_next/static
**/.DS_Store
**/.eggs
**/.env
**/.idea
**/.ipynb_checkpoints
**/.lprof
**/.mypy_cache
**/.pdm.toml
**/.pytest_cache
**/.ruff_cache
**/.run
**/.venv*
**/.vscode
**/*.~lock*
**/*.7z
**/*.bin
**/*.bson
**/*.bz2
**/*.class
**/*.dll
**/*.doc
**/*.docx
**/*.dylib
**/*.egg-info
**/*.exe
**/*.gz
**/*.jar
**/*.min.js
**/*.odp
**/*.ods
**/*.odt
**/*.ppt
**/*.pptx
**/*.pyc
**/*.pyo
**/*.rar
**/*.so
**/*.tar
**/*.war
**/*.wt
**/*.xls
**/*.xlsx
**/*.zip
**/bin
**/build/
**/coverage
**/dist/
**/node_modules
**/WiredTiger*
.gemini-clipboard
*.mp4
.superset/

.codanna
.codannaignore
.*cache*

.serena
